@keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slide-up {
    animation: slide-up 0.3s ease-out;
  }
  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slide-up {
    animation: slide-up 0.3s ease-out;
  }
    

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}


.custom-checkbox input[type="checkbox"] + span {
  position: relative;
  display: inline-block;
  padding-left: 24px;
  line-height: 1.5;
  cursor: pointer;
  color: #000; 
}

.custom-checkbox input[type="checkbox"] + span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff; 
  border: 2px solid #8B4513; 
  transform: translateY(-50%);
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox input[type="checkbox"]:checked + span:before {
  background-color: #8B4513; 
  border-color: #8B4513;
}

.custom-checkbox input[type="checkbox"]:checked + span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  /* background-color: white;  */
  transform: translate(-50%, -50%);
}
.no-scroll {
  overflow: hidden;
}